<!DOCTYPE html>
<html>
    <head>
        <title>{{ topic }}</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <h1>NSQ Monitor</h1>
                    <ul>
                        {% for t in topics %}
                            <li><a href="/topic/{{ t }}">{{ t }}</a></li>
                        {% end %}
                    </ul>
                </div>
                <div class="span10">
                    <div class="page-header">
                        <h3>{{ topic }}</h3>
                    </div>
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th>key</th>
                                <th>count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                            <tr>
                                <td>{{ d[0] }}</td>
                                <td>{{ round(100 * d[1]/max([d[1] for d in data]),1) }}%</td>
                            <tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        <div>


    </body>
</html>
